body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color:#F5F5DC;
}
.screen {
  background-color: grey;
  margin: auto;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.board-header {
  text-shadow: 2px 2px 4px grey;
}
.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
   margin: auto;
   border:  1px solid  	#8FBC8F;
   border-right: none;
   border-top: none;
 }
.line {
  box-sizing: border-box;
}
.element {
  width: 10px;
  height: 10px;
  font-size: 6px;
  box-sizing: border-box;
  border-top: 1px solid  	#8FBC8F;
  border-right: 1px solid 	#8FBC8F;
  background-color: black;
}
.upScreen {
  background-color: grey;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.downScreen {
  background-color: grey;
  margin: auto;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button {
  width: 70px;
  background-color: black;
  color: white;
  padding: 3px;
  margin: 10px;
}
.active {
  background-color: pink;
  color: black;
}
.note {
  font-size: 12px;
  margin-top: 20px;
}
footer{
    font-size: 10px;
    margin-top: 20px;
    text-align: center;
}
